body {
}
.popover {
    width: 300px;
}

h3.popover-header {
    font-size: 11px !important;
    text-transform: capitalize !important;
    line-height: normal;
    background: #555;
    color: gold;
    margin-top: 0px;
}

.popover-body {
}

    .popover-body ul {
        padding-left: 10px;
    }

        .popover-body ul li {
            font-size: 10px !important;
            line-height: 16px;
        }

.pass_show {
    position: relative
}

    .pass_show .ptxt {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        color: #fada28;
        margin-top: -10px;
        cursor: pointer;
        transition: .3s ease all;
    }

        .pass_show .ptxt:hover {
            color: #333333;
        }

#closepopover .svg-inline--fa {
    font-size: 12px !important;
    color: black;
}

#closepopover {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    border: 1px solid #000;
}

.resetPasswordSection {
    width: 440px;
    margin: 10px auto;
    border: 0px solid #ccc;
    padding: 25px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#viewPassword, #viewAnswer, #viewExpPassword, #viewNPPassword, #viewCPPassword {
    position: absolute;
    bottom: 10px;
    right: 16px;
    text-decoration: none;
    color: grey;
}

    #viewPassword .svg-inline--fa.fa-w-20, #viewAnswer .svg-inline--fa.fa-w-20,
    #viewNPPassword .svg-inline--fa.fa-w-20, #viewCPPassword .svg-inline--fa.fa-w-20
    {
        color: grey;
    }