
@{
    ViewData["Title"] = "TKM_99_01";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // Layout = null;
}

<link href="~/css/egypt/displaysystem.css" rel="stylesheet" />
<script src="~/js/egypt/displaysystem.js"></script>


<input type="hidden" id="hdBusinessKey" value=@ViewBag.BusinessKey />
<input type="hidden" id="hdRoomNumber" value=@ViewBag.ArrayOfRoomNo />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-12 leftDisplay p-lg-0 p-r-0">
            <div><img src="~/images/egypt/logo_whitebg.png" class="darlfouadlogo" /></div>
            <p>Please proceed to reception desk number  <span id="lblCallingRoomNumber"></span></p>
            <p>يرجى الانتقال الى مكتب الاستقبال رقم  <span id="lblCallingRoomNumber_ar"></span></p>

            <p class="tokenNumber blink" id="lblCallingTokenNumberD"></p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 rightDisplay p-r-0 p-0">
            @* @foreach (var rm in ViewBag.RoomList)
            { 
                <div style="padding:5px 3px">
                    <p class="text-english clinicNumber font-weight-bold">Reception Desk No. @rm</p>
                    <p class="text-arabic clinicNumber font-weight-bold">مكتب الاستقبال رقم  <span id="lblRoomNo_ar_@rm.Replace(" ", "")"></span></p>
                    <span class="clearfix"></span>
                    <p class="text-center text-tokenNumber" style="margin:5px" id="lblTokenNumber_@rm.Replace(" ", "")"></p>
                </div>
             } *@
             <section>
                <div class="row m-0" class="divReceptioNo">
                    <p class="m-0 text-english clinicNumber font-weight-bold col-lg-6 col-md-6 col-sm-6">Reception Desk No. 01</p>
                    <p class="m-0 text-arabic clinicNumber font-weight-bold col-lg-6 col-md-6 col-sm-6">مكتب الاستقبال رقم <span id="lblRoomNo_ar"></span></p>
                </div>
             </section>
            <section>
                <div class="row m-0" class="divReceptioNo">
                    <p class="m-0 text-english clinicNumber font-weight-bold col-lg-6 col-md-6 col-sm-6">Reception Desk No. 01</p>
                    <p class="m-0 text-arabic clinicNumber font-weight-bold col-lg-6 col-md-6 col-sm-6">مكتب الاستقبال رقم <span id="lblRoomNo_ar"></span></p>
                </div>
            </section>
            @* <div style="padding:5px 3px">
                <p class="text-english clinicNumber font-weight-bold">Reception Desk No. 01</p>
                <p class="text-arabic clinicNumber font-weight-bold">مكتب الاستقبال رقم  <span id="lblRoomNo_ar"></span></p>
                <span class="clearfix"></span>
                <p class="text-center text-tokenNumber" style="margin:5px" id="lblTokenNumber"></p>
            </div>
            <div style="padding:5px 3px">
                <p class="text-english clinicNumber font-weight-bold">Reception Desk No. 02</p>
                <p class="text-arabic clinicNumber font-weight-bold">مكتب الاستقبال رقم  <span id="lblRoomNo_ar"></span></p>
                <span class="clearfix"></span>
                <p class="text-center text-tokenNumber" style="margin:5px" id="lblTokenNumber_"></p>
            </div>
            <div style="padding:5px 3px">
                <p class="text-english clinicNumber font-weight-bold">Reception Desk No. 03</p>
                <p class="text-arabic clinicNumber font-weight-bold">مكتب الاستقبال رقم  <span id="lblRoomNo_ar_"></span></p>
                <span class="clearfix"></span>
                <p class="text-center text-tokenNumber" style="margin:5px" id="lblTokenNumber_"></p>
            </div>
            <div style="padding:5px 3px">
                <p class="text-english clinicNumber font-weight-bold">Reception Desk No. 04</p>
                <p class="text-arabic clinicNumber font-weight-bold">مكتب الاستقبال رقم  <span id="lblRoomNo_ar_"></span></p>
                <span class="clearfix"></span>
                <p class="text-center text-tokenNumber" style="margin:5px" id="lblTokenNumber_"></p>
            </div> *@
        </div>
    </div>
</div>



